$theme-default: (
    main-color: #010a17,
    font-color: #ffffff,
    btn1-color: #1e90ff,
    btn2-color: #00ea9c,
    btn3-color: #1E90FF,
    btn3-border-color: #0090FF,
    popup-border-color: #5F7DA8
)